/* NAVIGATION BAR*/

#logo {
	padding:1px 100px 1px 0px;
}

#navbarpic{
	padding-left: 100px;
}


.max_width{
	/*margin:auto;*/
	max-width: 1366px;
	padding: 0 80px;
}
.navbar{
	/*position:fixed; */
	width:100%;
	background:white;	
	padding:30px 0;
	z-index: 999;
	
}

/*.navbar.sticky{
	padding: 15px 0;
	background: plum;
}*/

.navbar .max_width{
	display:flex;
	/*align-items:center;*/
	justify-content:space-between;
}

.navbar .menu{
	/*font-size:35px;
	color:black;
	font-weight:600;
	text-decoration: none;*/
	margin: 1px 5px 15px 0px;

}

.navbar .menu li{
	list-style:none;
	display:inline-block;
}
.navbar .menu li a{
	color:black;
	font-size: 18px;
	font-weight: 500;
	margin-left: 25px;
	transition:color 0.3s ease;
	text-decoration: none;
}

/*.navbar .menu li a:hover{
	color: purple;
	text-decoration: none;
	font-weight: bold;
}*/




/*HOME PAGE STYLING */


.mainpic .text {
	position: absolute;
	font-family: 'Poppins';
	font-size: 45px;
	font-weight: 550;
	padding: 70px 70px 30px 60px;
}
#selframe {
	color: gray;
	font-size: 30px;
	font-weight: 500;
}

.shopbutton {
	background-color: rgb(236, 126, 44);
	color: white;
	font-size: 25px;
  text-align: center;
  padding: 12px 86px;
	margin-top: 3px;
	border-radius: 10px;
	text-decoration: none;
	display: inline-block;
	font-family: 'Poppins';

}
.shopbutton a{
	text-decoration: none;
	color: white;
}

/*#listscroll {
	display: inline-block;
    padding: 10px 20px;
}

ul.listscroll {
	float: left;
	display: inline-block;
}  */


/* FRAME SHAPE */
.frameshape {
	display:inline-block;
}

.frameshape img{
	width: 200px;
}

.row .column {
  box-sizing: border-box;
}

.row {
  display: flex;
}


.column {
  flex: 25%;
  /*padding: 5px;*/
}

.column figure{
	border: 2px solid gainsboro; 
	padding: 50px; 
	border-radius: 20px;
	margin-left: 4px;
	margin-right: 4px;
}

/*#roundshape {
	padding-left: 150px;
}*/

.whitesmokebg {
	background-color: whitesmoke;
}

.text {
	font-family: 'Poppins';
}

.smalltitle {
	font-size: 40px;
	font-weight: 670;
	padding-left: 140px;
	padding-top: 40px;
	font-family: 'Poppins';
}


/* BLUE LIGHT BLOCKING GLASSES */

.secmainpic .text {
	color:  white;
	position: absolute;
	text-align: center;
	padding: 50px 300px;
	font-size: 15px;	
}

/* NEW ARRIVALS */
.newarrival .smalltitle {
	text-align: center;
	padding: 40px 0px;
}

.newarrival figure {
	border-color: grey;
	border-radius: 6px;
	border-style: solid;
}

figcaption {
	text-align: center;
}

.column{
	text-align: center;
}

.doorstep {
	background-color: white;
  	width: 480px;
  	height: 271px;
  	padding-left: 98px ;
  	padding-top: 200px;
  	border-color: white;

}

.doorstep .smalltitle {
	font-size: 30px;
	font-weight: 7001;
	color: steelblue;
	padding:  0px;	

}

.sunglass {
  width: 200px;
  height: 100px;
  padding: 50px 700px;
  position: absolute;
}

.Reviewhome {
	background-color: rgb(233, 223, 216);
}

.Reviewhome .smalltitle{
	padding: 20px 0px;
	text-align: center;
}

.pgend {
	background-color: black;
	color: white;
	font-family: 'Poppins';
	font-weight: 200;
}

.emailsub {
	background-color: dimgray;
	border-radius: 5px;
	padding: 5px;
}

/* NEW ARRIVALS PAGE STARTED */
.prevpg {
	color: lightgray;
}

.toptext {
	padding: 10px;
	font-size: 15px;
}

.specstable th{
   /* border: 1px solid lightgray;
    border-radius: 5px;*/
    font-weight: 400;
}

.specstable input{
	font-weight: 200;
}

.displayspec {
	width: 40%;
	height: 40%;
	margin:  30px;
	background-color: whitesmoke;
	padding: 230px 113px;
	margin-top: 10px;
	border-radius: 20px;
	margin-left:2%;
float:left; 
}

.container {
    width:100%;
    height:auto;
    padding:1%;
}


.tab {
  overflow: hidden;
}


.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
}




.tab button.active {
  background-color: whitesmoke;
}


.tabcontent {
  display: none;
  padding: 60px 62px;
}

.summary {
	width: 35%;
	height: 40%;
	margin:  30px;
	background-color: whitesmoke;
	padding: 60px 73px;
	margin-top: 10px;
	border-radius: 20px;
	margin-left:2%;
float:right; 
}

.cartdisplayspec {
	width: 35%;
	height: 40%;
	margin:  30px;
	background-color: whitesmoke;
	padding: 200px 73px;
	margin-top: 10px;
	border-radius: 20px;
	margin-left:2%;
float:left; 
}

.checkdisplayspec{
	width: 20%;
	height: 30%;
	margin: 20px;
	background-color: whitesmoke;
	padding: 170px 33px;
	margin-top: 10px;
	margin-left:0%;
float:left; 
}
}


.revtab {

  overflow: hidden;
  padding: 20px;
  margin: 20px;
}

.revtab button {
  background-color: black;
  float: left;
  border: solid white;
  border-radius: 50%;
  outline: solid gray;
  cursor: pointer;
  padding: 10px;
  margin: 10px;

}



.revtab button.active {
  background-color: #ccc;
}

.revtabcontent {
  display: none;
  padding: 60px 62px;

}
.revtabcontent th{
	font-weight: 300;
	padding: 10px;
}

.revtabcontent th:nth-child(1){
	font-weight: 500;
}


.displaycon {
	width: 30%;
	height: 40%;
	margin:  10px;
	background-color: whitesmoke;
	padding: 40px 90px;
	margin-top: 10px;
	border-radius: 20px;
	margin-left:2%;
float:left; 
}

.checkoutb a{
	background-color: white; 
	color: black; 
	border: 1px solid #EC7E2C;
	padding: 10px 50px;
	border-radius: 10px;
	text-decoration: none;
}