/* NAVIGATION BAR*/

#logo {
	padding:1px 100px 1px 0px;
}

#navbarpic{
	padding-left: 100px;
}


.max_width{
	/*margin:auto;*/
	max-width: 1366px;
	padding: 0 80px;
}
.navbar{
	/*position:fixed; */
	width:100%;
	background:whitesmoke;	
	padding:30px 0;
	/*transition: all 0.3s ease;*/
	z-index: 999;
}

/*.navbar.sticky{
	padding: 15px 0;
	background: plum;
}*/

.navbar .max_width{
	display:flex;
	/*align-items:center;*/
	justify-content:space-between;
}

.navbar .menu{
	/*font-size:35px;
	color:black;
	font-weight:600;
	text-decoration: none;*/
	margin: 1px 5px 15px 0px;

}

.navbar .menu li{
	list-style:none;
	display:inline-block;
}
.navbar .menu li a{
	color:black;
	font-size: 18px;
	font-weight: 500;
	margin-left: 25px;
	transition:color 0.3s ease;
	text-decoration: none;
}

/*.navbar .menu li a:hover{
	color: purple;
	text-decoration: none;
	font-weight: bold;
}*/




/*HOME PAGE STYLING */


.mainpic .text {
	position: absolute;
	font-family: 'Poppins';
	font-size: 45px;
	font-weight: 550;
	padding: 70px 70px 30px 60px;
}
#selframe {
	color: gray;
	font-size: 30px;
	font-weight: 500;
}

.shopbutton {
	background-color: rgb(236, 126, 44);
	color: white;
	font-size: 25px;
    text-align: center;
    padding: 12px 86px;
	margin-top: 3px;
	border-radius: 10px;
	text-decoration: none;
	display: inline-block;
	font-family: 'Poppins';

}

/*#listscroll {
	display: inline-block;
    padding: 10px 20px;
}

ul.listscroll {
	float: left;
	display: inline-block;
}  */


/* FRAME SHAPE */
.frameshape {
	display:inline-block;
}

.frameshape img{
	width: 200px;
}

.row .column {
  box-sizing: border-box;
}

.row {
  display: flex;
}


.column {
  flex: 25%;
  padding: 5px;
}

#roundshape {
	padding-left: 150px;
}

.whitesmokebg {
	background-color: whitesmoke;
}

.text {
	font-family: 'Poppins';
}

.smalltitle {
	font-size: 40px;
	font-weight: 670;
	padding-left: 140px;
	padding-top: 40px;
	font-family: 'Poppins';
}


/* BLUE LIGHT BLOCKING GLASSES */

.secmainpic .text {
	color:  white;
	position: absolute;
	text-align: center;
	padding: 50px 300px;
	font-size: 15px;	
}

/* NEW ARRIVALS */
.newarrival .smalltitle {
	text-align: center;
	padding: 40px 0px;
}

.newarrival figure {
	border-color: grey;
	border-radius: 6px;
	border-style: solid;
}

figcaption {
	text-align: center;
}

.column{
	text-align: center;
}

.doorstep {
	background-color: white;
  	width: 480px;
  	height: 271px;
  	padding-left: 98px ;
  	padding-top: 200px;
  	border-color: white;
}

.doorstep .smalltitle {
	font-size: 30px;
	font-weight: 7001;
	color: steelblue;
	padding:  0px;	

}

.sunglass {
  width: 200px;
  height: 100px;
  padding: 50px 700px;
  position: absolute;
}